<!--<h1>Searches#seach</h1>-->
<!--<p>Find me in app/views/searches/seach.html.erb</p>-->

<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'book' %>
	<h3>Books search for "<%= @content %>"</h3>
  <%= render 'books/index', books: @records %>
<% end %>